*{ /* reiniciar algunos estilos del navegador*/
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: white;
}
nav, header, .contenedor, footer{
    max-width: 90%;
    margin: auto;
    border-radius: 0.4em;
}
IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
}
IMG.imgleft{
      display: block;
      margin-left: 1px;
      border:none;
}
h1.txtcentrado {
text-align:center;
}
h3.txtcentrado {
text-align:center;
}
h4.txtresaltado {
color: #005883;
text-align:center;
}
nav{
    background-color: #F47920;
    text-align: center;
}
header{
    background-color: #005883;
    display: block;
    justify-content: center;
}
.contenedor{
  background-color: white;
  color: #333333; 
}
.central{
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}
.creditos{
    background-color: #808080;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
footer{
    background-color: #005883;
    text-align: center;
}
aside{
    background-color: white;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
/* Menu*/
.menu li{
    display:inline-block ;
}
li a, boton{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.8em;
}
.listaDesplegable{
    display: none;
    background-color: ghostwhite;
    position: absolute;

}
.listaDesplegable a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .listaDesplegable{
    display: block;
}
li a:hover{
    background-color: #005883;
 }
